{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<title>Вход</title>
</head>
<body>
	<ul class="messages">
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
	
	<form method="POST">
		{% csrf_token %}
		<h1>Регистрация</h1>
		{% for elem in form %}
			{{ elem.label }}
			{{ elem }}
		{% endfor %}
		{{ form.errors }}
		<input type="submit" name="createUser">
	</form>
</body>
</html>
